.currencies{
    height: 60px;
    background: white;
    overflow: hidden;
}
.fleche{
    width: 80px;
    margin: 0 auto;
    display: block;
    float: left;
    margin-left: -125px;
    left: 50%;
    position: relative;
    margin-top: 12px;
}
.currency1{
    float: left;
    border: 1px solid black;
    padding: 10px;
    height: 60px;
    width:80px;
    COLOR: black;
    text-align: center;
    font-weight: bold;
    padding-top:20px;
}
.currency2{
    float: right;
    border: 1px solid black;
    padding: 10px;
    height: 60px;
    width:80px;
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top:20px;
}
table{
    width:100%;
    color:black;
    border:1px solid black;
}
td{
    padding:10px;
    border:1px solid black;
}
td label{
    font-weight: bold;
    font-size: 24px;
}
ion-content{
    background: white!important;
    --ion-background: white!important;
    --ion-background-color: white!important;
}
.hover{
    background-color: black;
    color:white;
}
ion-title{
    text-align: center!important;
    margin-bottom: 13px!important;
}
ion-toolbar{
    --background: #c9c9ce!important;
    color:black;
}