<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <img (click)="icon1()" src="/assets/icon1.png"  class="icon1" />
    <img (click)="icon2()" src="/assets/icon2.png"  class="icon2" />
    <img (click)="icon3()" src="/assets/icon3.png"  class="icon3" />
  </div>
</ion-content>
