<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mini Programs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <span *ngFor="let app of results; let index = index;">
    <img (click)="icon(index)" [src]="app.img"  class="icon" />
    <br>
    <label>{{app.name}}</label>
  </span>

</ion-content>
<ion-footer>
  
  <ion-searchbar  (ionChange)="handleChange($event)"  search-icon="search-circle" placeholder="Search Mini Programs"></ion-searchbar>

</ion-footer>
